@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-primary: #534AB7;
  --brand-primary-light: #7F77DD;
  --brand-pastel-pink: #FADDDC;
  --brand-pastel-blue: #D4E4F2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FAFAFA;
  color: #1A1A1A;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-none {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
